<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>JSP17_ConnectionPool</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <resource-ref>
  	<description>DB Connection Pool</description>
  	<res-ref-name>jdbc/testDB</res-ref-name>
  	<res-type>javax.sql.DataSource</res-type>
  	<res-auth>Container</res-auth>
  </resource-ref>
  
</web-app>

<!-- 
<Context docBase="JSP17_ConnectionPool" 
      	path="/JSP17_ConnectionPool" reloadable="true" 
      	source="org.eclipse.jst.jee.server:JSP17_ConnectionPool"
      	useNaming="true">
      	
      	<Resource 
      		description="DB Connection"
      		auth="Container"
      		driverClassName="oracle.jdbc.driver.OracleDriver"
      		name="jdbc/testDB"
      		type="javax.sql.DataSource"
      		username="scott0316"
      		password="tiger0316"
      		url="jdbc:oracle:thin:@localhost:1521:XE"
      		maxIdle="5"
      		maxTotal="50"
      		maxWaitMillis="5000"
      	/>
      	
</Context>
-->