@charset "UTF-8";
/* RWD를 위해 필수 넣어야하는 거*/
/* body 지정 */
body {
	background-color: #898989;
	margin: 0;
	padding: 0;
	font-size: 0.75em;
	line-height: 1.2em;
	color: #333;
}

/* 웹페이지 중앙배치 #wrap */
#wrap {
	width: 971px;
	text-align: left;
	margin: 0px;
	margin-right: auto;
	margin-left: auto;
	
	/* 그림자 백그라운드 적용 */
	background-image: url(../images/shadow.png);
	background-repeat: repeat-y;
	min-height: 780px;
}

/* 로고 스타일, header 스타일 */
#logo {
	float: left;
	height: auto;
	width: 250px;
	
	/* 위부터 시작하여 시계 방향으로 돌아감 */
	margin: 40px 0 0 40px;
}
header {
	height: 151px;
	margin: 0;
	padding: 0;
}

/* 양쪽으로 float 허용 안하기 위해 both로 설정 */
.clear {
	clear: both;
}

/* login | join 추가 */
#login_join {
	float: right;
	margin: 20px 64px 0 0;
}
#login, #join {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 15px;
	border: none;
	background-color: white;
	color: #333;
	word-spacing: 5px;
}
#login:hover, #join:hover {
	color: #F90;
}

/* 로그인 레이아웃 */
.modal-content1 .container input[type=text], 
.modal-content1 .container input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
  }
button#loginbtn {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}  
button#loginbtn:hover {
	opacity: 0.8;
}
.cancelbtn {
	border: none;
	color: white;
	width: auto;
	padding: 10px 18px;
	background-color: #f44336;
 }
.imgcontainer {
	text-align: center;
	margin: 24px 0 12px 0;
	position: relative;
}
.container {
	padding: 16px;
  }
span.psw {
	float: right;
	padding-top: 16px;
}

/* 회원가입 창 */
.container2 input[type=text], 
.container2 input[type=password]{
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: #f1f1f1;
	box-sizing: border-box;
}
.container2 input[type=text]:focus, 
.container2 input[type=password]:focus {
	background-color: #ddd;
	outline: none;
}
.container2 input[type=number],
.container2 select {
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: #f1f1f1;
	box-sizing: border-box;
}
#num1, #num2 {
	text-align: center;
	width: 4.33%;
	margin: 5px 0 22px 0;
	border: none;
	background: white;
	box-sizing: border-box;
}
.container2 select {
	text-align: center;
	width: 20.333%;
	padding: 15px;
	margin: 5px 0 22px 0;
	border: none;
	box-sizing: border-box;
}
.container2 input[name="phoneNum"] {
	text-align: center;
	width: 34.333%;
	padding: 15px;
	margin: 5px 0 22px 0;
	border: none;
	box-sizing: border-box;
}
.cheboxfix {
	width: 100%;
	float: left;
}
.phonefix {
	width: 100%;
}
.signupbtn {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
}
.canbtn {
	background-color: #f44336;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
}
.signupbtn:hover, #canbtn:hover {
	opacity:1;
}
.canbtn, .signupbtn {
	float: left;
	width: 50%;
}
.container2 {
	padding: 16px;
}
.modal-content2 {
	background-color: #fefefe;
	margin: 5% auto 15% auto;
	border: 1px solid #888;
	width: 900px;
}
.container2 hr {
	border: 1px solid #f1f1f1;
	margin-bottom: 25px;
}
.clo {
	position: absolute;
	right: 35px;
	top: 15px;
	font-size: 40px;
	font-weight: bold;
	color: #f1f1f1;
}
.clo:hover,
.clo:focus {
	color: #f44336;
	cursor: pointer;
}
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}
div.cheboxfix button#agree1btn {
	text-decoration: none;
}
.cheboxfix button a, .cheboxfix button {
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 5px;
	background-color: #f1f1f1;
	word-spacing: 5px;
	color: #333;
}
.cheboxfix button a:hover {
	color: #F90;
}

/* modal 창 */
.modal {
	display: none;
	position: fixed; 
	z-index: 1; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
	padding-top: 60px;
  }
.modal-content1 {
	background-color: #fefefe;
	margin: 5% auto 15% auto;
	border: 1px solid #888;
	width: 900px;
}
.close {
	position: absolute;
	right: 25px;
	top: 0;
	color: #000;
	font-size: 35px;
	font-weight: bold;
}
.close:hover, .close:focus {
	color: red;
	cursor: pointer;
}

/* 모바일용 메뉴 pc, 테블릿 버전일때 안보이게 하기 */
nav#top_menu div.topnav a.icon {display: none;}

/* <nav><ul><li><a> 스타일 지정 */
nav#top_menu {
	width: 600px;
	float: right;
	margin: 50px 20px 0 0;
}
nav#top_menu ul {
	list-style: none;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	font-weight: 100;
	color: #333;
}
nav#top_menu ul li {
	float: left;
	/* 첫번째 숫자 : 위아래 여백, 두번째 숫자 : 좌우 여백 */
	margin: 0 5px;
}
nav#top_menu a {
	text-decoration: none;
	color: #333;
	
	/* a 태그 display 기본 설정은 inline
	넓이 지정하고 싶으면 display 설정을 block으로 변경 후 
	width, height 설정 가능 */
	display: block;
	height: 20px;
	padding: 10px;
}
nav#top_menu a:hover {
	background-image: url(../images/blue.gif);
	background-repeat: repeat-x;
	background-position: bottom;
}

/* 슬라이드 레이아웃 */
article#used_market {
	position:relative;
	margin: 50px 0 100px 0;
} 
.slideshow-container {
	width: 970px;
	height: 300px;
	position: relative;
	margin: 5px 15px;
}
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	opacity: 0;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}
.next {
	margin-right: 30px;
}
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
	opacity: 1;
}
.text {
	color: black;
	font-weight: bold;
	font-size: 20px;
	padding: 8px auto;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 auto;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.active, .dot:hover {
	background-color: #717171;
}
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}
.slideshow-container div.fade img {
	width: 19%;
	height: 260px;
}

/* 중고장터 최신글 10개 노출 */
#main_userd_market {
	width: 900px;
	margin: 0px auto;
	
}
table {
	width: 100%;
	margin: 10px auto;
	border-collapse: collapse;
}
tr{
	border-top: 1px solid #555;
	border-bottom: 1px solid #555;
}
th {
	text-align: center;
	font-size: 2em;
	padding: 20px;
}
td {
	text-align: center;
	font-size: 1em;
	padding: 10px;
}
.no {width: 5%;}
.title {width: 75%;}
.price {width: 20%;}
.text_market {
	font-weight: bold;
	color: #333;
	font-size: 3em;
	margin: 10px 0 10px 40px;
	position: relative;
	bottom: 8px;
	width: 100%;
}
#used_market h3 {
	font-size: 0.75em;
	display: inline;
}

/* Footer 스타일 입히기 */
footer {
	margin: 50px 0 0 0;
	height: 80px;
	background-image: url(../images/underlogo.jpg);
	background-repeat: no-repeat;
	background-position: 40px center;
}
footer hr {
	width: 950px;
	margin: 0 10px 10px 10px;
}
footer #copy {
	font-family: Arial, Helvetica, sans-serif;;
	width: 480px;
	margin: 20px 0 0 220px;
	float: left;
}
footer #social {
	width: 130px;
	margin: 15px 10px 0 0;
	float: right;
}
footer #social img {
	margin: 1px;
}




/* 애니메이션 Zomm 효과 */
.animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0)} 
	to {-webkit-transform: scale(1)}
}
@keyframes animatezoom {
	from {transform: scale(0)} 
	to {transform: scale(1)}
}

/* 슬라이드 애니메이션 효과 */
@-webkit-keyframes fade {
	from {opacity: 0.4} 
	to {opacity: 1}
}
@keyframes fade {
	from {opacity: 0.4} 
	to {opacity: 1}
}